header { background-color: #dcd7ba;
color: #C70039;
}

#cel1{
    background-color: #e75119;
    color: #d2b048;
    width: 300;
}

#cel2{
    background-color: #9df7cf;
}

#cel3{
    background-color: #58d6f8;
    color: #5f0719;
}

#cel4{
    background-color: #d29fe3;
}

#cel5{
    background-color: #0a4e3e;
    color: #ed0106;
}

#cel6{
    background-color: #fae550;
}

#cel7{
    background-color: #5995e7;
    color: #e81a1a;
}

#cel8{
    background-color: #856169;
}

#cel9{
    background-color: #000000;
    color: #68e7db
}

#cel10{
    background-color: #5e6371;
}

#cel11{
    background-color: #f5d2e1;
    color: #349712;
}

#cel12{
    background-color: #85dff0;
}

#cel13{
    background-color: #501718;
    color: #e9f712;
}

#cel14{
    background-color: #a835b0;
}

#cel15{
    background-color: #8a8aab;
    color: #ea1992;
}
#cel16{
    background-color: #04fa1e;
}